<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="static/login1.css">
</head>
<body>
<div class="login">
  <div class="heading">
    <h2>Sign in</h2>
    <form action="" method="post">

      <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" placeholder="Username or email" name="username" value="{{
          request.form.username }}">
          </div>

        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="password" class="form-control" placeholder="Password" name="password" value="{{
          request.form.password }}">
        </div>

        <button type="submit" class="float" value="Login">Login</button>
       </form>
       {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
 		</div>
</div>
</body>
</html>