<!doctype html>
<html>
   <body>
      result of addition : {{ msg }}
      <h2><a href = "\">go back to home page</a></h2>
   </body>
</html>																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																			