<html>
   <body>
      <form action = "{{ url_for('addrec') }}" method = "POST" enctype = "multipart/form-data">
         <h3>Student Information</h3>
         Name<br>
         <input type = "text" name = "nm" /></br>
         
         rfid<br>
         <textarea name = "rfid" ></textarea><br>
         
         IMG/VIDEO<br>
         <input type = "file" name = "file" />
         <input type = "submit" value = "submit" /><br>
      </form>
   </body>
</html>