<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="show"></div>
    <script src='{{url_for("static", filename = "js/StreamerIO/socket.io-client-2.4.0/dist/socket.io.js")}}'></script>
    <!-- <script src='{{url_for("static", filename = "js/StreamerIO/socket.stream.io.js")}}'></script> -->
    <!-- <script src='{{url_for("static", filename = "js/StreamerIO/socket.io.js.map")}}'></script> -->
    <script src='{{url_for("static", filename = "js/ws_polling.js")}}'></script>

    <script>

        var VideoPlayer = {
            nextIndex : 0,
            urls : [],
            playVideo : function (url){
                let video_url = url;
                
                document.getElementById("show").innerHTML = "";
                
                let videoElement = document.createElement('video');
                videoElement.setAttribute("controls","");
                videoElement.setAttribute("autoplay","");
                videoElement.setAttribute("id", "movie");
                videoElement.setAttribute("onended", "VideoPlayer.onVideoEnded();");

                console.log("Adding url"+ video_url);
                let video_format = video_url.split(".")[1];
                if (['mp4', 'ogg'].includes(video_format)) {
                    let sourceElement = document.createElement('source');
                    sourceElement.setAttribute("src", video_url);
                    sourceElement.setAttribute("type", `video/${video_format}` );
                    videoElement.appendChild(sourceElement);
                } else {
                    console.error("Wrong video format.")
                }

                document.getElementById("show").appendChild(videoElement);
                var player = document.getElementById('movie');
                player.load();
            },

            onVideoEnded : function () {
                VideoPlayer.play();
            },

            play : function (urls = undefined, reset = false) {
		        // VideoPlayer.urls = [];
                if(VideoPlayer.urls.length == 0 && urls || reset) {
                    VideoPlayer.urls = urls;
                }

                let url = VideoPlayer.urls[VideoPlayer.nextIndex];
                VideoPlayer.nextIndex = VideoPlayer.nextIndex + 1;

                if (VideoPlayer.nextIndex >= VideoPlayer.urls.length) {
                    VideoPlayer.nextIndex = 0;
                }

                VideoPlayer.playVideo(url);
            }

        }

    </script>

    <script>

        var actionHandler = (event, data) => {
            if (event == "task") {
                switch (data.type) {
                    case "video":
                        if (!data.urls) {
                            console.log("Video URL not found.");
                            return;
                        }
                        VideoPlayer.play(data.urls, true);
                        console.log(`RFID ID: ${data.scanned_code}`)
                        break;
                        
                    default:
                        console.log(`Action for type ${data.type} not found.`)
                }
            }
        }

        (function () {
            var settings = {
                server : "/",
                event_callback : actionHandler
            }

            var ws_manager = new WebsocketStreamer(settings);
            let screen_id = "123456789";
            ws_manager.startPollingForMedia(screen_id);

            // ws_manager.sendTask('astream',{"screen_id": device_id});
            // let taskPolling = setInterval(function () {
            //     console.log("Polling for tasks.");
            // },2000);
        })();

    </script>
</body>
</html>
